################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTests/UnitTests/bin/Debug/net6.0
/UnitTests/UnitTests/obj
/UnitTests/.vs/UnitTests
